# =========================
# .NET / Backend
# =========================
**/bin/
**/obj/
**/out/
**/publish/
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio
.vs/

# Rider
.idea/

# VS Code
.vscode/

# Environment files
.env
.env.local
**/.env
**/.env.local
**/appsettings.Local.json
**/appsettings.Development.local.json

# Logs
logs/
**/logs/
*.log

# Frontend / React
node_modules/
**/node_modules/
dist/
build/
.vite/
.env
.env.local
**/.env
**/.env.local

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Test results
# =========================
TestResults/
*.trx
*.coverage
*.coveragexml

# =========================
# NuGet
# =========================
*.nupkg
packages/

# =========================
# Database files & Local Configs
# =========================
*.mdf
*.ldf
*.bak
*.db
**/appsettings.Development.json